# Modules
yarn.lock
node_modules/

# IDE
.idea/
yan-bot.iml

# Configuration file
config.js

# Database
database/ca-certificate.crt
giveaways.json

# Prettier
.prettierrc.json
.prettierignore

# In dev
events/members
welcome.js